<launch>
  <arg name="output" default="screen"/>
  <node pkg="jackal_mp_tracker" name="mp_tracker_server_node" type="mp_tracker_server_node" output="$(arg output)" >
    <rosparam command="load" file="$(find active_3dgs)/config/local_planner.yaml" />
        <remap from="/tracker/cmd_vel" to="/twist_auto"/>
        <remap from="/odometry/filtered" to="/zed2i/zed_node/pose"/>
  </node>

</launch>

